/* Estilos originales para dispositivos grandes */
.sidebar {
  padding: 20px;
}

.quote-card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.img-doctor-quote {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.col-quote {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title-quote {
  font-weight: bold;
}

.botones {
  display: flex;
  align-items: center;
}

.botones img {
  width: 34px;
  height: 34px;
  margin-right: 10px;
  cursor: pointer;
}

.status-color {
  font-weight: bold;
}

.status-color.warning {
  color: orange;
}

.status-color.success {
  color: green;
}

.status-color.error {
  color: red;
}

/* Estilos para dispositivos móviles (Media Query) */
@media (max-width: 768px) {
  .quote-card {
    display: flex;
    flex-wrap: wrap; /* Cambiar a disposición de fila en dispositivos móviles */
    align-items: flex-start; /* Alinear los elementos en la parte superior */
  }

  .img-doctor-quote {
    width: 70px; /* Ajusta el ancho de la imagen como desees */
    height: 70px; /* Ajusta la altura de la imagen como desees */
    margin-right: 10px; /* Reduce el margen derecho de la imagen */
  }

  .col-quote {
    flex: 1;
  }

  .title-quote {
    display: block; /* Mostrar el título en dispositivos móviles */
    font-weight: bold;
  }

  .botones {
    display: flex;
    align-items: center;
    flex-direction: row; /* Mantener la disposición de fila en dispositivos móviles */
    margin-top: 10px;
  }
}
